{% extends "base.html" %}

{% block content %}
<!-- Sección Nosotros -->
<div class="container container-separar">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="titulo">SOBRE NOSOTROS</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="info-restaurante col-md-6">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>MISIÓN:</strong> Brindar una experiencia gastronómica auténtica con platillos italianos tradicionales.</li>
          <li class="list-group-item"><strong>VISIÓN:</strong> Ser reconocidos como el mejor restaurante italiano en Ecuador, manteniendo la calidad y autenticidad de nuestros platillos.</li>
          <li class="list-group-item"><strong>DIRECCIÓN:</strong> Av. Italia 123, Quito, Ecuador.</li>
          <li class="list-group-item"><strong>TELÉFONO:</strong> +593 2 123 4567</li>
          <li class="list-group-item"><strong>EMAIL:</strong> info@latavola.com</li>
        </ul>
      </div>
    </div>
    <div class="imagen-restaurante col-md-6">
      <img src="{{ url_for('static', filename='img/empresa.jpg')}}" alt="Imagen de la empresa">
    </div>
  </div>
</div>
{% endblock %}
