{% extends "base.html" %}

{% block content %}
<!-- Sección Promociones -->
<div class="container container-separar">
  <div class="row">
    <h2 class="titulo text-center">PROMOCIONES</h2>
  </div>
  <div class="row mt-4">
    {% for promocion in promociones %}
    <div class="col-md-3 mb-4">
      <div class="card zoom-effect">
        <img src="{{ url_for('static', filename='img/' + promocion.imagen)}}" class="card-img-top" alt="{{ promocion.nombre }}">
        <div class="card-body">
          <h5 class="card-title">{{ promocion.nombre }}</h5>
          <!-- Puedes agregar más detalles de la promoción aquí si lo deseas -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
